[submodule "CarND-Extra"]
	path = p0-image-segmentation
	url = https://github.com/Michael-Tu/CarND-Extra.git
[submodule "CarND-Basic-Lane-Finding"]
	path = p1-finding-land-line
	url = https://github.com/Michael-Tu/CarND-Basic-Lane-Finding.git
[submodule "CarND-Traffic-Sign-Classifier"]
	path = p2-traffic-sign-classifier
	url = https://github.com/Michael-Tu/CarND-Traffic-Sign-Classifier.git
[submodule "CarND-Behavioral-Cloning"]
	path = p3-behavioral-cloning
	url = https://github.com/Michael-Tu/CarND-Behavioral-Cloning.git
[submodule "CarND-Advanced-Lane-Finding"]
	path = p4-advanced-lane-finding
	url = https://github.com/Michael-Tu/CarND-Advanced-Lane-Finding.git
[submodule "CarND-Vehicle-Detection-and-Tracking"]
	path = p5-vehicle-detection-and-tracking
	url = https://github.com/Michael-Tu/CarND-Vehicle-Detection-and-Tracking.git
[submodule "CarND-Extended-Kalman-Filter"]
	path = p6-extended-kalman-filter
	url = https://github.com/Michael-Tu/CarND-Extended-Kalman-Filter.git
[submodule "CarND-Unscented-Kalman-Filter"]
	path = p7-unscented-kalman-filter
	url = https://github.com/Michael-Tu/CarND-Unscented-Kalman-Filter.git
[submodule "CarND-Particle-Filter-2D"]
	path = p8-particle-filter-2d
	url = https://github.com/Michael-Tu/CarND-Particle-Filter-2D.git
[submodule "CarND-PID-Controller"]
	path = p9-PID-controller
	url = https://github.com/Michael-Tu/CarND-PID-Controller.git
[submodule "CarND-Model-Predictive-Controller"]
	path = p10-model-predictive-controller
	url = https://github.com/Michael-Tu/CarND-Model-Predictive-Controller.git
